/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #5f6d82;
    --global-bg-color                   : #f4f1e9;
    --global-footer-bg-color            : #111a2e;
    --global-border-color               : rgba(17, 26, 46, 0.16);
    --global-dark-border-color          : rgba(17, 26, 46, 0.24);
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #b33c1d;
    --global-link-color-hover           : #7f260f;
    --global-link-color-visited         : #7c4660;
    --global-masthead-link-color        : #111a2e;
    --global-masthead-link-color-hover  : #b33c1d;
    --global-text-color                 : #111a2e;
    --global-text-color-light           : #5f6d82;
    --global-thead-color                : #{$lighter-gray};
}
